<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:18px; padding:25px;">
  <header>
    <% include partials/_header %>
  </header>
  <form action="/urls/<%= shortURL %>" method="POST" ">
          <p>Short URL: <%= shortURL %></p>
          <p>Long URL: <%= urls[shortURL].longurl %></p>
          <label for="longURL">Update Long URL:</label>
          <input id="longURL" type="text" name="longURL" value="<%= urls[shortURL].longurl %>" style="width: 300px">
          <input type="submit" value="Submit">
  </form>
  <button type="button"><a href= <%= urls[shortURL].longurl %> > GO TO URL</a></button>
  <button type="text" ><a href="http://localhost:8080/urls/new">Shorten another URL</a> </button>
  <button type="text" ><a href="http://localhost:8080/urls">Home</a> </button>
  </body>
</html>